.btn{
    margin: 1rem;
    background-color: rgb(0, 132, 255);
    border-radius: 5px 20px 5px;
    border-color: rgb(0, 132, 255);
    color: white;
    min-width:5rem;
}

.accept{
    border-color: rgb(2, 133, 13);
    background-color: rgb(2, 133, 13);
}

.cancel{
    border-color: rgb(190, 1, 1);
    background-color: rgb(190, 1, 1);
}