.container {
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
}

.name {
    width: 20%;
    text-align: right;
    margin-right: 0.2rem;
}

.text {
    margin-left: 0.2rem;
}