.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.name {
    width: 50%;
    text-align: right;
    margin-right: 0.2rem;
}

.text {
    width: 50%;
    margin-left: 0.2rem;
}