.container{
    display: flex;
    align-content: space-between;
    width: 100%;
    border-radius: 2rem;
}
.container:hover{
    background-color: rgb(160, 209, 252);
}
.name{
    width: 100%;
    margin: 1rem;
    color: black;
}
.btn{
    margin: 1rem;
}
.aDefault{
    text-decoration:none;
}